@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: magilio;
  src: url(assets/MagilioRegular-8Mxvg.otf);
}

@layer components {
  .h1 {
    @apply font-bold text-[1.8rem] tracking-wide lg:text-[2.1rem] xl:text-[2.4rem];
  }
  .btn {
    @apply bg-bgc-3 w-full text-center font-medium rounded-full text-[12px] py-[0.42rem] text-[#fff]
    lg:py-[0.85rem] lg:text-[1.3rem] lg:font-bold
  }
  .input {
    @apply border border-bgc-5 rounded-full outline-none placeholder:px-[0.7rem] placeholder:text-sm w-[100%] py-[0.3rem]
    lg:px-[1rem] lg:py-[0.7rem] lg:placeholder:text-[1.1rem] px-3
  }
  
}

:root {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}